.t_sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.t_sidebarOption:hover {
  background-color: #e8f5fe;
  color: var(--twitter-color);
  border-radius: 10px;
  transition: color 0.1s ease-out;
}

.t_sidebarOption > .MuiSvgIcon-root {
  padding: 5px;
  /* border: 1px solid #000; */
  margin: 5px;
  margin-bottom: 10px;
}

.t_sidebarOption > h2 {
  font-weight: 800 !important;
  font-size: 20px !important;
  margin-right: 20px !important;
  margin-bottom: 0 !important;
}

.t_sidebarOption_active {
  color: var(--twitter-color);
}

@media (max-width: 1280px) {
  .t_sidebarOption_text {
    display: none !important;
  }
}
