.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.message_timestamp {
  color: gray;
  font-weight: 300;
  margin-left: 10px;
  font-size: 14px;
}

.message_info {
  padding-left: 10px;
}
